.slider .thumb {
    -fx-background-color: #f8e8a6;
    -fx-shape: "M0,0 H50 V50 H0 Z";
    -fx-effect: dropshadow(gaussian, #e4d598, 0.5, 0.2, 1, 1);
    -fx-background-insets: 2 2 2 2;
}

.slider .track {
    -fx-background-color: transparent;
}